<!DOCTYPE html>
<html>
<head>
<title>Intuition Guidebook - Page of Cups</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:site_name" content="Better Tarot" />
<meta name="og:title" content="Page of Cups - Flow, Synchronicity" />
<meta name="og:description" content="Wear your heart on your sleeve!" />
<meta name="og:url" content="https://www.davidj.org/tarot/cups.page.html" />
<meta name="article:tag" content="tarot" />
<meta name="og:image" content="https://www.davidj.org/tarot/img/cupa.jpg" />
<meta name="og:image:width" content="150" />
<meta name="og:image:height" content="260" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/css/bettertarot.css">
</head>
<body>
	<main>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Main</a>
							</li>
							<li class="nav-item">
								<a href="arcana.html" class="nav-link">Arcana</a>
							</li>
							<li class="nav-item">
								<a href="cups.html" class="nav-link active">Cups</a>
							</li>
							<li class="nav-item">
								<a href="pentacles.html" class="nav-link">Pentacles</a>
							</li>
							<li class="nav-item">
								<a href="swords.html" class="nav-link">Swords</a>
							</li>
							<li class="nav-item">
								<a href="wands.html" class="nav-link">Wands</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container-fluid">
			<h1>Page of Cups</h1>
			<div class="row">
				<div class="col-6 col-lg-3 text-center">
					<img src="img/cupa.jpg" class="img-fluid">
				</div>
				<div class="col-6 col-lg-3">
					<h3>Upright</h3>
					<h4>Flow, Synchronicity</h4>
					<ol>
						<li>Open up! Wear your heart on your sleeve!</li>
						<li>Are you looking at something new? Be new at things. It's good!</li>
						<li>Explore learning. Let your unconscious mind guide you. How does it speak to you?</li>
						<li>You must be open to the unexpected, occassionally bizarre impulses of your creative spirit.</li>
						<li>Let your imagination be free. Choose to believe in one impossibility.</li>
						<li>Intuitive steps should aways be taken.</li>
					</ol>
					<ul><li>A heart in love with beauty never grows old.</li></ul>
				</div>
				<div class="col-6 col-lg-3 text-center">
					<img src="img/cupa.jpg" style="-webkit-transform:rotate(180deg);transform:rotate(180deg);" class="img-fluid">
				</div>
				<div class="col-6 col-lg-3">
					<h3>Reversed</h3>
					<h4>New Ideas, Emotional Immaturity</h4>
					<p>If you have a creative idea, now is the time to express it! It's better to try and to fail than to have not tried at all. Seriously, what have you got to lose? Weigh the decision and act on it. Are you dealing with doubt? How are you any different from everyone else? Open yourself to your own intuition and see where you go!</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
