<!DOCTYPE html>
<html>
<head>
<title>Intuition Guidebook - Page of Cups</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	font-family: helvetica;
	background-color:#bf9;
	padding:15px;
	}
h3 {
	margin:0;
	padding:0;
	}
h4 {
	color: brown;
	}
</style>
</head>
<body>
<p style="font-size:.8em"><a href="index.html">Main</a> | <a href="arcana.html">Arcana</a> | <a href="cups.html">Cups</a> | <a href="pentacles.html">Pentacles</a> | <a href="swords.html">Swords</a> | <a href="wands.html">Wands</a></p>
<h1>Page of Cups</h1>
<img src="img/cupa.jpg" height="20%" align="left" style="margin:28px;margin-left:0;">
<h3>Upright</h3>
<h4>Flow, Synchronicity</h4>
<ol>
<li>Open up! Wear your heart on your sleeve!</li>
<li>Are you looking at something new? Be new at things. It's good!</li>
<li>Explore learning. Let your unconscious mind guide you. How does it speak to you?</li>
<li>You must be open to the unexpected, occassionally bizarre impulses of your creative spirit.</li>
<li>Let your imagination be free. Choose to believe in one impossibility.</li>
<li>Intuitive steps should aways be taken.</li>
</ol>
<ul><li>A heart in love with beauty never grows old.</li></ul>
<p>&nbsp;</p>
<img src="img/cupa.jpg" height="20%" align="left" style="-webkit-transform:rotate(180deg);transform:rotate(180deg);margin:28px;margin-left:0;">
<h3>Reversed</h3>
<h4>New Ideas, Emotional Immaturity</h4>
<p>If you have a creative idea, now is the time to express it! It's better to try and to fail than to have not tried at all. Seriously, what have you got to lose? Weigh the decision and act on it. Are you dealing with doubt? How are you any different from everyone else? Open yourself to your own intuition and see where you go!</p>
</body>
</html>
