<!DOCTYPE html>
<html>
<head>
<title>Intuition Guidebook - Page of Swords</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	background-color:#bf9;
	font-family:helvetica;
	padding:15px;
	}
h3 {
	margin:0;
	padding:0;
	}
h4 {
	color: brown;
	}
</style>
</head>
<body>
<p style="font-size:.8em"><a href="index.html">Main</a> | <a href="arcana.html">Arcana</a> | <a href="cups.html">Cups</a> | <a href="pentacles.html">Pentacles</a> | <a href="swords.html">Swords</a> | <a href="wands.html">Wands</a></p>
<h1>Page of Swords</h1>
<img src="img/swpa.jpg" height="20%" align="left" style="margin:28px;margin-left:0;">
<h3>Upright</h3>
<h4>Lively, Chatty, Inquisitive</h4>
<ol>
	<li>The more you pursue what you want, the more wisdom and experience you will gain.</li>
	<li>Get started on your ideas and inspirations. Allow the exuberance!</li>
	<li>Are you looking at human life as a kind of curious spectacle in which you yourself do not take part? That holds you back!</li>
	<li>As you find your own higher self, encourage others!</li>
	<li>Seek and you shall find!</li>
	<li>The potential you see in other people is not real. It is a projection of what you would do in their position. Only <b>your</b> actions are accountable. And only to you.</li>
</ol>
<p>&nbsp;</p>
<img src="img/swpa.jpg" height="20%" align="left" style="-webkit-transform:rotate(180deg);transform:rotate(180deg);margin:28px;margin-left:0;">
<h3>Reversed</h3>
<h4>Contrarian, Annoyance, Motormouth</h4>
<p>All talk and no action leads to distrust. Excitement spurs you but watch your energy isn't scattered by trying to do everything at once. Think, then speak! Tackle things one at a time. All promises should have a certainty of delivery. Don't settle until you understand things on your terms!</p>
</body>
</html>
