<!DOCTYPE html>
<html>
<head>
<title>Intuition Guidebook - Page of Wands</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:site_name" content="Better Tarot" />
<meta name="og:title" content="Page of Wands - Free Spirit, New Spark" />
<meta name="og:description" content="Express yourself!" />
<meta name="og:url" content="https://www.davidj.org/tarot/wands.page.html" />
<meta name="article:tag" content="tarot" />
<meta name="og:image" content="https://www.davidj.org/tarot/img/wapa.jpg" />
<meta name="og:image:width" content="150" />
<meta name="og:image:height" content="260" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/css/bettertarot.css">
</head>
<body>
	<main>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Main</a>
							</li>
							<li class="nav-item">
								<a href="arcana.html" class="nav-link">Arcana</a>
							</li>
							<li class="nav-item">
								<a href="cups.html" class="nav-link">Cups</a>
							</li>
							<li class="nav-item">
								<a href="pentacles.html" class="nav-link">Pentacles</a>
							</li>
							<li class="nav-item">
								<a href="swords.html" class="nav-link">Swords</a>
							</li>
							<li class="nav-item">
								<a href="wands.html" class="nav-link active">Wands</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container-fluid">
			<h1>Page of Wands</h1>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3 text-center">
				<img src="img/wapa.jpg" class="img-fluid">
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<h3>Upright</h3>
					<h4>Free Spirit, New Spark, Creative Expression</h4>
					<ol>
						<li>Express yourself and your individuality with light-hearted abandon. Live inspired!</li>
						<li>Being quick to anger is the fastest way to put others off.</li>
						<li>You can learn more about who you are when you explore the unknown.</li>
						<li>Be positive and spontaneous but avoid impulsiveness. You may not have a plan, but you have possibility.</li>
						<li>Transform an immature desire into a beautiful and creative vision.</li>
						<li>"Be daring, be different, be impractical, be anything that will assert integrity of purpose and imaginative vision against the play-it-safers, the creatures of the commonplace, the slaves of the ordinary." - Cecil Beaton</li>
					</ol>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 text-center">
					<img src="img/wapa.jpg" style="-webkit-transform:rotate(180deg);transform:rotate(180deg);" class="img-fluid">
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<h3>Reversed</h3>
					<h4>New Ideas, Spiritual Path</h4>
					<p>It is exciting to feel a new idea and its possibilities. Don't be discouraged by past performances. Let the idea brew if it has to. If there is something in motion and it isn't working, analyze where it is and move it forward. Stop worrying about it. Make time and do it! Explore new paths!</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
