h1 {
    padding:12px;
}
p {
    margin:14px;
}
.col p a img,
.row div img {
    border:6px solid white;
    border-radius:4px;
    margin:3px;
}
.navbar-expand-sm .navbar-collapse {
    justify-content: center;
}
.container-fluid h1 p,
.container-fluid h1 {
    text-align:center;
}
body {
    background-color:black;
    color:white;
}