body {
    background-color:black;
    color:white;
}
main {
    width:99%;
}
h1 {
    padding:12px;
}
p {
    margin:14px;
}
a, a:visited {
    color:cornsilk;
}
.col p a img,
.row div img {
    border:6px solid white;
    border-radius:4px;
    margin:3px;
}
.navbar-expand-sm .navbar-collapse {
    justify-content: center;
}
.container-fluid h1 {
    text-align:center;
}

/* I'm using different colors for different influences. */

.hermetic-principle {
    color: #ffd700;
}